.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing:nth-child(5n) tbody {
    box-shadow: #549f93 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(5n+1) tbody{
    box-shadow: #47a8bd 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(5n+2) tbody {
    box-shadow: #805D93 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(5n+3) tbody {
    box-shadow: #f39237 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(5n+4) tbody {
    box-shadow: #8cc084 0.5px 0.5px 8px 0px;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}