:root {
    --color-green: #8cc084;
    --color-teal: #549F93;
    --color-blue: #47A8BD;
    --color-purple: #805D93;
    --color-blush: #ED6A5A;
    --color-orange: #F39237;
}

.body-content {
    margin-top: 72px;
}

code {
    line-height: 1.5;
    overflow: scroll;
}

pre {
    background: #9698971f;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing:active tbody {
    box-shadow: #0000003b 0.5px 0.5px 8px 0px;
}

table.job-listing:nth-child(6n) tbody {
    box-shadow: var(--color-green) 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(6n+1) tbody{
    box-shadow: var(--color-teal) 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(6n+2) tbody {
    box-shadow: var(--color-blue) 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(6n+4) tbody {
    box-shadow: var(--color-purple) 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(6n+3) tbody {
    box-shadow: var(--color-blush) 0.5px 0.5px 8px 0px;
}
table.job-listing:nth-child(6n+5) tbody {
    box-shadow: var(--color-orange) 0.5px 0.5px 8px 0px;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}